<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Cake Factory</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/shop-homepage.css" rel="stylesheet">
  <style>
  .nav-current {font-weight: bold;}
  .row-cf-header {
  	padding-top: 5px;
  	font-weight: bold;
	color: white;
  }
  .row-cf-manifest {
  	padding-top: 5px;
  	padding-bottom: 5px;
  }
  </style>
</head>

<body>
  <div id="fb-root"></div>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">{{TemplateTitle}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
        {{#links}}
          <li class="nav-item active">
            <a class="nav-link {{#current}}nav-current{{/current}}" href="/{{link}}">{{displayName}}
            </a>
          </li>

        {{/links}}
        <li class="nav-item active"><a class="nav-link" href="{{loginOrUser}}">{{loginOrUserDisp}}</a></li>
        </ul>
        
      </div>
      <a class="navbar-brand" href="/basket">{{basketTotal}} item(s) in cart (${{basketPrice}})</a>
    </div>
  </nav>