{{>header}}
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0&appId=3332917780098948&autoLogAppEvents=1" nonce="nzcyMeZc"></script>
  
  <!-- Page Content -->
  <div id="fb-root"></div>
  <div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">Login</h1>
        Click <a href="/loginsignup">here</a> to sign-up
        <br>
        
        <br>{{error}}
      </div>
      <!-- /.col-lg-3 -->
	</div>
	<div class="row">
      <div class="border border-info col-lg-9">
      <form name="signup" method="post" action="login">
      	<input type="hidden" name="_csrf" value="{{_csrf.token}}" /> 
      	<div class="row">
      		<div class="col-lg-9">
      		<span>Use your Cake Factory account</span>
      		</div>
      	</div>
      	<div class="row">
      		<div class="col-lg-3"><label for="uid">Username</label></div>
      		<div class="col-lg-6"><input id="username" name="username" value=""></div>
      	</div>
      	<div class="row">
      		<div class="col-lg-3"><label for="passwd">Password</label></div>
      		<div class="col-lg-6"><input id="password" type="password" name="password" value=""></div>
      	</div>
      	<div class="row">
      		<div class="col-lg-9">
      			<button type="button" class="button btn-primary signup">Login</button>
      		</div>
      	</div>
      	<div class="row">
      		<div class="col-lg-9">
      		&nbsp;
      		</div>
      	</div>
      </form>
      </div>
       <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->
		Or
	<div class="row">
		<A href="/oauth2/authorization/facebook"><img src="/images/fb-login-btn.png"/></A>
        <A href="/oauth2/authorization/google"><img src="/images/btn_google_signin_dark_normal_web.png"/></A>
	</div>
  </div>
  <!-- /.container -->

  {{>footer}}